<!-- templates/birthday/birthday_list.html -->
{% extends "base.html" %}

{% block content %}
  <!-- for birthday in birthdays  -->
  {% for birthday in page_obj %}
    <div  class="row"> <!-- Обернём каждую запись в тег div -->
      <div class="col-2">
        {% if birthday.image %}
          <img src="{{ birthday.image.url }}" height="100">
        {% endif %}
      </div>
      <div class="col-10"> <!-- Текст обернём в отдельный вложенный div -->
      <div>
        {{ birthday.first_name }} {{ birthday.last_name }} - {{ birthday.birthday }}
            <a href="{% url 'birthday:detail' birthday.id %}">Сколько до дня рождения?</a>
      </div>
      <div>
        <a href="{% url 'birthday:edit' birthday.id %}">Изменить запись</a> | <a href="{% url 'birthday:delete' birthday.id %}">Удалить запись</a>
      </div>
      </div>
      
      {% if not forloop.last %}
        <!-- Класс mt-3 устанавливает отступ сверху (margin-top) в 30 px -->
        <hr class="mt-3"> 
        <!-- <hr> -->
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
